# Node modules
node_modules/

# Logs
*.log

# Backups
data/backup-*.json

# Environment
.env

# API (no subir al repositorio público)
api/

# Database
database/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.temp
